/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Noto-Sans";
  src: url("../fonts/Noto_Sans/static/NotoSans-Regular.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 2rem;
  font-family: "Poppins-Bold", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: "Poppins-Bold", sans-serif;
}

.button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #221f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#header .left .conversation-type-div {
  position: relative;
  width: 190px;
  height: 45px;
  border-radius: 20px;
  border: none;
  background-color: #80ed99;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
#header .left .conversation-type-div .conversation-type {
  z-index: 2;
  font-family: "Poppins";
}
#header .left .conversation-type-div .active-background {
  position: absolute;
  z-index: 0;
  left: 20px;
  background-color: #c7f9cc;
  padding: 2px 15px 2px 15px;
  border-radius: 15px;
  width: 45px;
  height: 30px;
}
#header .left .conversation-type-div .activePrivate {
  animation: 0.7s ease-in 0s 1 normal both running publicToPrivate;
}
#header .left .conversation-type-div .activePublic {
  animation: 0.7s ease-in 0s 1 normal both running privateToPublic;
}
@keyframes publicToPrivate {
  0% {
    left: 25px;
  }
  100% {
    left: 95px;
  }
}
@keyframes privateToPublic {
  0% {
    left: 95px;
  }
  100% {
    left: 25px;
  }
}
#header .right .research-bar .research-bar-img {
  background-image: url("../../images/loupe.png");
  background-size: 50px;
}

.container {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Noto-Sans";
}
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #57cc99;
}
.container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  .container {
    top: 80px;
  }
}
@media only screen and (min-width: 480px) {
  .container {
    top: 100px;
  }
}
@media only screen and (min-width: 720px) {
  .container {
    top: 105px;
  }
}
.sections {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background: url("../images/background.jpg") no-repeat bottom/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  min-height: 60vh;
  max-height: 75vh;
  width: 33vw;
  border: 3px solid rgba(87, 204, 153, 0.3);
  border-radius: 30px;
  background-color: rgba(254, 254, 254, 0.5);
}
body main form {
  box-sizing: border-box;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10%;
}
body main form .inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
body main form .inputs label {
  margin: 0 0 0.2rem 0.6rem;
  font-size: 1.4rem;
}
body main form .inputs input {
  height: 2.5rem;
  background-color: #22577a;
  border: none;
  border-radius: 14px;
  padding: 0 15px;
  outline: none;
  color: white;
  font-size: 1rem;
}
body main form .inputs input:focus {
  outline: 3px solid rgba(128, 237, 153, 0.4);
}
body main form .inputs#input-id::after, body main form .inputs#input-password::after {
  content: "";
  width: 24vw;
  height: 1px;
  display: inline;
  position: absolute;
  left: 15px;
  bottom: 6px;
  background-color: #fefefe;
}
body main form .inputs #password {
  padding-right: 3rem;
}
body main form .inputs#input-password::after {
  width: 21vw;
}
body main form .inputs#input-stayConnected {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5rem;
  margin-left: 1rem;
}
body main form .inputs#input-stayConnected label {
  font-size: 0.8rem;
  margin-bottom: 0;
}
body main form .inputs#input-stayConnected #stayConnected:focus {
  outline: none;
}
body main form .inputs #view-password {
  border: none;
  background: none;
  position: absolute;
  bottom: 0px;
  right: 5px;
  cursor: pointer;
}
body main form .inputs #view-password img {
  height: 2rem;
}
body main form #submit-button {
  width: 75%;
  height: 2.5rem;
  background-color: #57cc99;
  color: #fefefe;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(34, 31, 31, 0.25);
}
body main form #submit-button:hover {
  box-shadow: 0 4px 4px rgba(128, 237, 153, 0.7);
}
body main form #submit-button:active {
  box-shadow: none;
}

#input-stayConnected {
  position: relative;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}
#input-stayConnected input {
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0;
  z-index: 1;
  /* When the checkbox is checked, add a blue background */
}
#input-stayConnected input:checked ~ .checkmark {
  background-color: #22577a;
}
#input-stayConnected input:checked ~ .checkmark:after {
  display: block;
}
#input-stayConnected .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 2px;
  /* Create the checkmark/indicator (hidden when not checked) */
}
#input-stayConnected .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-radius: 4px 2px 3px 2px;
  transform: rotate(45deg);
}

/* ----- Global -----*/
::-moz-selection {
  background-color: #57cc99;
  color: #000000;
}
::selection {
  background-color: #57cc99;
  color: #000000;
}

.scroll-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;
}

.scroll-section.active {
  opacity: 1;
  transform: translateY(0);
}

a {
  text-decoration: none;
}

/* ----- Particles -----*/
#particle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.particle {
  position: absolute;
  background-color: #ffffff;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}/*# sourceMappingURL=main.css.map */