@import './base/reset';
@import './utils/variables';
@import './components/buttons';
@import './base/typography';

// CONNEXION
@import './layout/connexion';

// INDEX
@import './layout/header';
@import './layout/container';
@import './layout/writtingBar';
@import './layout/message';
@import './layout/userInfo';

// INDEX AND PARAMETERS
@import './layout/channel';

// PARAMETERS
@import './layout/forms';
@import './layout/menuParameters';


/* ----- Global -----*/

::selection {
	background-color: $vert;
	color: #000000;
}

.scroll-section {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s, transform 0.8s;
}

.scroll-section.active {
	opacity: 1;
	transform: translateY(0);
}

a {
	text-decoration: none;
}

img {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
}

/* ----- Scrollbar ----- */

/* width */
::-webkit-scrollbar {
	width: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

/* Track */
::-webkit-scrollbar-track {
	// CONVERSATION
	background: rgba($bleu-fonce, .4);
	border-radius: 10px;
	margin-top: 5px;

	// MENU
	/* background: rgba($vert, .4);
	border-radius: 10px;
	margin: 15px 0; */

	// USER INFO
	background: rgba($vert, .4);
	border-radius: 10px;
	margin: 40px 0 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	// CONVERSATION
	background: $bleu-fonce;
	border-radius: 10px;

	// MENU
	/* background: $vert;
	border-radius: 10px; */

	// USER INFO
	background: $vert;
	border-radius: 10px;
}

/* ----- Particles -----*/

#particle-container {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
}

.particle {
	position: absolute;
	background-color: #ffffff;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
}

* {
	-webkit-tap-highlight-color: transparent;
	font-family: Noto-Sans, sans-serif;
}