@import '../utils/_variables.scss';

.channel {
	height: 2rem;
	width: 88%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px 0 15px 40px;

	@media screen and (min-width: 768px) {
		width: 100%;
		margin-left: 0;
	}

	@media screen and (max-width: 300px) {
		width: 80%;
	}

	.dot-container {
		width: 50px;

		.dot {
			height: 22px;
			width: 22px;
			background-color: $bleu-turquoise;
			border-radius: 50%;
			display: block;
			margin: 0 10px;

			@media screen and (min-width: 768px) {
				height: 17px;
				width: 17px;
			}
		}
	}

	img {
		width: 1.8rem;

		@media screen and (min-width: 768px) {
			width: 1.4rem;
		}
	}

	.dash {
		font-weight: bold;
		margin: 0 12px;
		font-size: 1.2rem;

		@media screen and (min-width: 768px) {
			margin: 0 7px;
			font-size: 1rem;
		}
	}

	.name {
		font-size: 1.5rem;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
		@media screen and (min-width: 768px) {
			font-size: 1.2rem;
		}
	}
}

.separator {
	width: 70%;
	border: 2px solid $vert-tres-clair;
	border-radius: 5px;

	@media screen and (min-width: 768px) {
		width: 90%;
	}
}