@import '../utils/_variables.scss';

.container {
    position: absolute;
    top: 75px;
    bottom: 0px;
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $font-family-noto_sans;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $vert;
    }

    &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        top: 75px;
    }
}

.left-container {
    background-color: $gris-fonce;
    width: 20%;
    text-align: center;
    color: $blanc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .calendar-div {
        height: 10%;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        color: $gris-fonce;
        font-size: 1.2rem;
        background-color: $vert-clair;
    }

    .parameters-div {
        display: flex;
        height: 15%;
        background-color: $vert-tres-clair;
        color: $gris-fonce;

        .left {
            #parameters-user-profil {
                filter: brightness(0%);
            }
        }
    }

    .icon {
        height: 30px;
    }
}

.right-container {
    background-image: url("../../images/background_blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    background-position: bottom;
}

.sections {
    display: flex;
    flex-direction: column;
}