@import '../utils/_variables.scss';

.container {
    width: 100%;
	height: calc(100vh - 62px);
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $vert;
    }

    &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    @media only screen and (min-width: 768px) {
		height: calc(100vh - 75px);
    }
}

@media only screen and (max-width: 480px) {
    .container {
        height: calc(100vh - 62px);
    }
}

.left-container {
    background-color: $gris-fonce;
    width: 100%;
	height: calc(100% - 65px);
    text-align: center;
    color: $blanc;
    display: none;
    flex-direction: column;
    justify-content: flex-end;

	@media screen and (min-width: 768px) {
		width: 200px;
		display: block;
		height: auto;
	}
	
    @media screen and (min-width: 1024px) {
		width: 20%;
    }

	.channels {
		height: 85%;
		width: 98%;
		box-sizing: border-box;
		padding: 10px 0;
		overflow-y: auto;

		@media screen and (max-height: 500px) {
			height: 75%;
		}

		@media screen and (min-width: 768px) {
			// Hide scrollbar but still able to scroll
			-ms-overflow-style: none;  /* Internet Explorer 10+ */
			scrollbar-width: none;  /* Firefox */
	
			padding: 0 10px;
		}

		@media screen and (min-width: 1024px) {
			height: 75%;
		}
	}

	.calendar-parameters {
		height: 15%;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;

		@media screen and (max-height: 500px) {
			height: 25%;
		}
		
		@media screen and (min-width: 768px) {
			flex-direction: column;
		}

		@media screen and (min-width: 1024px) {
			height: 25%;
		}

		.calendar-div {
			width: 25%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			color: $gris-fonce;
			font-size: 1.2rem;
			background-color: $vert-clair;
			text-align: left;
			border: none;
			padding: 0;

			@media screen and (min-width: 768px) {
				height: 35%;
				min-height: 2.5rem;
				width: 100%;
			}
	
			&:hover {
				cursor: pointer;
				background-color: $vert;
			}
	
			div {
				text-align: center;
				
				@media screen and (min-width: 768px) {
					width: 25%;
				}
			}
	
			p {
				width: 75%;
				display: none;

				@media screen and (min-width: 768px) {
					display: block;
				}
			}
		}
	
		.parameters-div {
			display: flex;
			align-items: center;
			width: 75%;
			background-color: $vert-tres-clair;
			color: $gris-fonce;

			@media screen and (min-width: 768px) {
				height: 65%;
				width: 100%;
			}
	
			.left {
				width: 25%;
	
				#parameters-user-profil {
					filter: invert(1);
				}
			}
	
			.center {
				width: 50%;
				text-align: left;
	
				p {
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
    				overflow: hidden;
	
					&#parameters-role {
						font-size: smaller;
					}
				}
			}
	
			.right {
				width: 25%;
	
				button {
					background-color: transparent;
					border: none;
					padding: 0;
					height: 30px;
					transition: transform .3s ease-in-out;
	
					&:hover {
						cursor: pointer;
						transform: rotate(90deg);
					}
				}
			}
		}	
	}

    .icon {
        height: 30px;
    }
}

.right-container {
	position: relative;
    background-image: url('../images/background_blur_shorter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    flex-grow: 1;
	width: 80%;
}

.sections {
    display: flex;
    flex-direction: column;
}