@import '../utils/_variables.scss';

#body-connexion {
	min-height: 100vh;
	background: url('../images/background.jpg') no-repeat bottom/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	
	// form frame
	main {
		min-height: 30vh;
		max-height: 55vh;
		width: 80vw;
		border: 3px solid rgba($vert, .3);
		border-radius: 30px;
		background-color: rgba($blanc, .5);

		@media screen and (min-width: 768px) and (min-height: 440px), (min-width: 1280px) {
			min-height: 35vh;
			max-height: 50vh;
			width: 60vw;
		}

		@media screen and (max-height: 439px) {
			min-height: 55vh;
			max-height: 80vh;
			width: 40vw;
		}

		@media screen and (min-width: 1024px) {
			min-height: 45vh;
			max-height: 60vh;
			width: 33vw;
		}

		form {
			box-sizing: border-box;
			min-height: 40vh;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			margin: 10%;

			@media screen and (max-height: 439px) {
				min-height: 60vh;
			}

			@media screen and (min-width: 1024px) {
				min-height: 35vh;
			}

			@media screen and (min-width: 1280px) {
				min-height: 40vh;
			}

			// Group of each input and it's label
			.inputs {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				position: relative;
				
				label {
					margin: 0 0 .2rem .6rem;
					font-size: 1.5rem;

					@media screen and (min-width: 768px) {
						font-size: 1.7rem;
					}

					@media screen and (max-height: 439px) {
						font-size: 1.2rem;
					}

					@media screen and (min-width: 1024px) {
						font-size: 1.4rem;
					}

					@media screen and (min-width: 1280px) and (min-height: 1000px) {
						font-size: 3rem;
					}
				}

				input {
					height: 2.5rem;
					background-color: $bleu-fonce;
					border: none;
					border-radius: 14px;
					padding: 0 10px;
					outline: none;
					color: white;
					font-size: 1.2rem;

					&:focus {
						outline: 3px solid rgba($vert-clair, .4);
					}

					// Autofill behavior (before : grey background & black text)
					&:-webkit-autofill,
					&:-webkit-autofill:hover,
					&:-webkit-autofill:focus,
					&:-webkit-autofill:active {
						transition: background-color 5000s ease-in-out 0s;
						-webkit-text-fill-color: $blanc;
					}

					@media screen and (min-width: 768px) {
						height: 3rem;
						border-radius: 17px;
						padding: 0 15px;
						font-size: 1.2rem;
					}
					
					@media screen and (max-height: 439px) {
						height: 2rem;
						border-radius: 11px;
						font-size: 1rem;
					}
					
					@media screen and (min-width: 1024px) {
						height: 2.5rem;
						border-radius: 14px;
						font-size: 1rem;
					}

					@media screen and (min-width: 1280px) and (min-height: 1000px) {
						height: 4rem;
						border-radius: 17px;
						padding: 0 15px;
						font-size: 1.7rem;
					}
				}

				// White line in each input
				&#input-id::after, &#input-password::after {
					content: "";
					width: 90%;
					height: 1px;
					display: inline;
					position: absolute;
					left: 10px;
					bottom: 6px;
					background-color: $blanc;
					
					@media screen and (min-width: 768px), (min-width: 1280px) {
						left: 15px;
					}
				}
				
				// prevent text from going under the eye icon
				& #password {
					padding-right: 20%;

					@media screen and (min-width: 768px) {
						padding-right: 19%;
					}

					@media screen and (min-width: 1024px), (max-height: 439px) {
						padding-right: 18%;
					}
				}

				// prevent line from going under the eye icon
				&#input-password::after {
					width: 77%;

					@media screen and (min-width: 768px), (min-width: 1280px) {
						width: 77%;
					}
				}

				&#input-stayConnected {
					display: flex;
					flex-direction: row;
					align-items: center;
					height: 1.5rem;
					margin-left: 1rem;

					@media screen and (min-width: 768px), (min-width: 1280px) {
						height: 1.5rem;
					}

					@media screen and (min-height: 1000px) {
						height: 2rem;
					}

					& label {
						font-size: .9rem;
						margin-bottom: 0;
						
						@media screen and (min-width: 768px) {
							font-size: 1rem;
						}

						@media screen and (min-width: 1024px), (max-height: 439px) {
							font-size: .8rem;
						}
						
						@media screen and (min-width: 1280px) and (min-height: 1000px) {
							font-size: 2rem;
						}
					}

					#stayConnected {
						&:focus {
							outline: none;
						}
					}
				}

				// Eye icon
				#view-password {
					position: absolute;
					bottom: 1px;
					right: 11px;
					cursor: pointer;

					@media screen and (min-width: 768px) {
						bottom: 0;
						right: 15px;
					}
					
					@media screen  and (max-height: 439px) {
						bottom: -2px;
						right: 8px;
					}
					
					@media screen and (min-width: 1024px) {
						bottom: -2px;
						right: 12px;
					}
					
					@media screen and (min-width: 1280px) and (min-height: 1000px) {
						bottom: 0;
						right: 15px;
					}
					
					img {
						height: 1.4rem;
						filter: invert(1);
						
						@media screen and (min-width: 768px) and (min-height: 439px)  {
							height: 2rem;
						}
						
						@media screen and (min-width: 1280px) and (min-height: 1000px) {
							height: 3rem;
						}
					}
				}
			}

			#submit-button {
				width: 75%;
				height: 2.5rem;
				background-color: $vert;
				color: $blanc;
				border: none;
				border-radius: 20px;
				font-weight: bold;
				font-size: larger;
				cursor: pointer;
				box-shadow: 0 4px 4px rgba($noir, .25);
				
				&:hover {
					box-shadow: 0 4px 4px rgba($vert-clair, .7);
				}
				
				&:active {
					box-shadow: none;
				}
				
				@media screen and (min-width: 768px) {
					height: 3rem;
					border-radius: 24px;
					font-size: xx-large;
				}
				
				@media screen and (min-width: 1024px), (max-height: 439px) {
					height: 2.5rem;
					border-radius: 20px;
					font-size: large;
					width: 80%;
				}
				
				@media screen and (min-width: 1280px) and (min-height: 1000px) {
					height: 5rem;
					border-radius: 35px;
					font-size: 3rem;
				}
			}
		}
	}
}

// Customized checkbox
#input-stayConnected {
	position: relative;

	/* Hide the browser's default checkbox */
	& input {
		opacity: 0;
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0;
		z-index: 1;

		/* When the checkbox is checked, add a blue background */
		&:checked~.checkmark {
			background-color: $bleu-fonce;

			&:after {
				display: block;
			}
		}

		@media screen and (min-width: 768px), (min-width: 1280px) {
			height: 15px;
			width: 15px;
		}

		@media screen and (min-height: 1000px) {
			height: 25px;
			width: 25px;
		}
	}

	/* Create a custom checkbox */
	& .checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 15px;
		width: 15px;
		background-color: white;
		border-radius: 2px;

		@media screen and (min-width: 768px), (min-width: 1280px) {
			height: 15px;
			width: 15px;
		}

		@media screen and (min-height: 1000px) {
			height: 25px;
			width: 25px;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		&::after {
			content: "";
			position: absolute;
			display: none;
			left: 4px;
			top: 0px;
			width: 5px;
			height: 10px;
			border: solid $blanc;
			border-width: 0 3px 3px 0;
			border-radius: 4px 2px 3px 2px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);

			@media screen and (min-width: 768px), (min-width: 1280px) {
				left: 4px;
				width: 5px;
				height: 10px;
			}

			@media screen and (min-height: 1000px) {
				left: 4px;
				width: 12px;
				height: 17px;
			}
		}
	}
}