@import '../utils/_variables.scss';

#header {
    width: 100%;
    
    background-color: $noir;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
    z-index: 1000;
	
	@media screen and (min-width: 768px) {
		flex-direction: row;
		padding: 15px 0;
	}

    .left-header {
        width: 100%;
		background-color: $gris-fonce;
		padding: 10px;
		display: none;
		box-sizing: border-box;

		@media screen and (min-width: 768px) {
			width: 200px;
			background-color: $noir;
			padding: 0;
			display: block;
		}

		@media screen and (min-width: 1024px) {
			width: 20%;
		}

        .conversation-type-div {
            position: relative;
            width: 190px;
            height: 45px;
            margin: auto;
            border-radius: 10px;
            border: none;
            background-color: $vert-clair;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            user-select: none;
            cursor: pointer;

            .conversation-type {
                z-index: 2;
                font-family: 'Poppins';
                border-radius: 15px;
                box-sizing: border-box;
                padding: 2px 15px 2px 15px;

                &:not(.active-type):hover {
                    background-color: rgba($vert-tres-clair, 0.5);
                }

                &.active {
                    transform: scale(1.1);
                }
            }

            .active-background {
                position: absolute;
                z-index: 0;
                left: 15px;
                background-color: $vert-tres-clair;
                padding: 2px 15px 2px 15px;
                border-radius: 15px;
                width: 45px;
                height: 30px;
            }

            .activePrivate {
                animation: .3s ease-in 0s 1 normal both running publicToPrivate;
            }

            .activePublic {
                animation: .3s ease-in 0s 1 normal both running privateToPublic;
            }

            @keyframes publicToPrivate {
                0% {
                    left: 15px;
                }

                100% {
                    left: 105px;
                }
            }

            @keyframes privateToPublic {
                0% {
                    left: 105px;
                }

                100% {
                    left: 15px;
                }
            }
        }
    }

    .right-header {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;

		@media screen and (min-width: 768px) {
			width: 78%;
			padding: 0;
		}

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 73%;
        }

        @media screen and (max-width: 300px) {
            gap: 5px;
        }

		#menu-icon {
			display: block;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}
        
		.left-header-content {
			max-width: 50%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		#channel-name {
			display: flex;
			color: $blanc;
			align-items: center;
			gap: 10px;
			font-size: 1.5rem;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}

        .right-header-content {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            @media screen and (max-width: 300px) {
                gap: 0px;
            }

            button:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
		
        .research-bar {
			display: flex;
			align-items: center;
			border-radius: 15px;

			@media screen and (min-width: 768px) {
				background-color: $blanc;
			}

            .bar {
                background-color: $blanc;
                height: 40px;
                border: none;
                border-radius: 15px;
                width: 0;
                outline: none;
                font-size: 1rem;
                padding-left: 10px;
				// Ne disparaît pas entièrement même avec width: 0 sans visibility:
				visibility: hidden;

				@media screen and (min-width: 768px) {
					width: 200px;
					visibility: visible;
				}
            }
        }
    }
	
	.research-bar-phone {
		width: 100vw;
		height: 2rem;
		background-color: $bleu-fonce;
		display: flex;
		// padding: 5px;
		display: none;
        position: absolute;
        top: 62px;

		@media screen and (min-width: 768px) {
			display: none;
		}

		input {
			background: transparent;
			border: none;
			outline: none;
			color: $blanc;
			font-size: 1rem;
			position: relative;
			width: 90%;
		}

		&::after {
			content: "";
			width: 90%;
			height: 1px;
			display: inline;
			position: absolute;
			left: 42px;
			bottom: 6px;
			background-color: $blanc;
		}

		#magnifying-glass {
			padding-left: 5px;
		}
	}

	.icon-header {
		height: 30px;
	}

	#magnifying-glass {
		margin-right: 5px;
		filter: invert(0);

		@media screen and (min-width: 768px) {
			filter: invert(1);
		}
	}
}