@import '../utils/_variables.scss';

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $noir;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    .left {
        .conversation-type-div {
            position: relative;
			width: 190px;
			height: 45px;
			border-radius: 20px;
			border: none;
			background-color: $vert-clair;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			cursor: pointer;
    
            .conversation-type {
				z-index: 2;
				font-family: 'Poppins';
            }
			
			.active-background {
				position: absolute;
				z-index: 0;
				left: 20px;
				background-color: $vert-tres-clair;
				padding: 2px 15px 2px 15px;
				border-radius: 15px;
				width: 45px;
				height: 30px;
			}

			.activePrivate {
				animation: .7s ease-in 0s 1 normal both running publicToPrivate;
			}
	
			.activePublic {
				animation: .7s ease-in 0s 1 normal both running privateToPublic;
			}
	
			@keyframes publicToPrivate {
				0% {
					left: 25px;
				}
				100% {
					left: 95px;
				}
			}
			
			@keyframes privateToPublic {
				0% {
					left: 95px;
				}
				100% {
					left: 25px;
				}
			}
        }
    }

    .right {
        .research-bar {
            .bar {

            }

            .research-bar-img {
                background-image: url('../../images/loupe.png');
                background-size: 50px
            }
        }
    }
}