.parameters-content {
	display: flex;
	flex-direction: row;
	color: $blanc;
	
	.channel-content {
		flex: 1;
		width: 80%;
		padding: 0 1.5rem;
		overflow-y: auto;
		box-sizing: border-box;
		background-color: $bleu-fonce;
		height: 100vh;

		@media screen and (min-width: 768px) {
			display: block;
		}

		h2 {
			padding: 9px 0;
			margin-bottom: 1rem;
		}

		.problem-suggestion {
			display: none;

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
	
				.form-field {
					margin-bottom: 2rem;
				}
	
				label {
					margin-bottom: 10px;
				}
			}
		}

	}
}