.button {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}