@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Noto-Sans';
    src: url('../fonts/Noto_Sans/static/NotoSans-Regular.ttf');
}

$font-family-poppins: 'Poppins', sans-serif;
$font-family-poppins-bold: 'Poppins-Bold', sans-serif;
$font-family-noto_sans: 'Noto-Sans';
